<!doctype html>
<html class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="www.xmoban.cn">
    <meta name="copyright" content="Copyright ">
    <title>错误页面</title>
    <link rel="stylesheet" type="text/css" href="/libs/error/styles.css" />
</head>

<body style="text-align:center">
<!--一流素材网收集整理：www.16sucai.com-->
<div id="rocket"></div>

<hgroup>
    <h1>页面没有找到</h1>
    <h2>我们不能找到你正在寻找什么</h2>
</hgroup>

<script src="http://www.16sucai.com/uploadfile/show/jQuerycss3muen1/js/jquery.min.js"></script>
<script src="/libs/error/js/script.js"></script>
<div style="padding:20px 0;margin-top:30px;">
</div>
<p></p>
</body>
</html>