<<<<<<< HEAD

   COPYRIGHT ©2015-2016
=======
</div>
</div>
<style>
    #footer{
        color:white ;
        background:#0f9fdb ;
        width: auto;
        height: auto;
    }
</style>
<footer id="footer">
   COPYRIGHT ©2015-2016
</footer>
>>>>>>> 7b6665ce717e55bcbe4729d4adb323345589b734
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/polyfill/rem.min.js"></script>
<script src="/assets/js/polyfill/respond.min.js"></script>
<script src="/assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="/assets/js/app.js"></script>
<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script src="/libs/jquery.datetimepicker/jquery.datetimepicker.js"></script>

