<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>管理</title>
<meta name="description" content="---------">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="apple-mobile-web-app-title" content="taotao"/>
<!--<link rel="stylesheet" href="/assets/css/amazeui.min.css"/>-->
<!--<link rel="stylesheet" href="/assets/css/admin.css">-->
<link rel="stylesheet" type="text/css" href="/libs/jquery.datetimepicker/jquery.datetimepicker.css"/>
<!-- Bootstrap Core CSS -->
<link href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/libs/bootstrap/css/sb-admin.css" rel="stylesheet">
<!-- Morris Charts CSS -->
<link href="/libs/bootstrap/css/plugins/morris.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/libs/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- jQuery -->
<script src="/libs/bootstrap/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/libs/bootstrap/js/bootstrap.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/libs/bootstrap/js/plugins/morris/raphael.min.js"></script>
<script src="/libs/bootstrap/js/plugins/morris/morris.min.js"></script>
<script src="/libs/bootstrap/js/plugins/morris/morris-data.js"></script>

<style>
    #startDate, #endDate, #nickname {
        display: inline-block;
        width: auto;
        /*background:#0a6999;*/
    }
</style>